{{> header  }}

{{> navbar }}    
<div class="row">
    <div class="col-8">
        <h1>Friends</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis eligendi, sint illum odio corporis id qui aliquid nostrum, velit dolore eaque tenetur excepturi voluptate, nemo porro. Adipisci obcaecati hic a!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/protagonistas-friends.png" alt="" class="img-thumbnail">
    </div>
</div>
{{> footer }}
